.enter-temp-form{
    max-width: 30em !important;
    max-height: 3.8em !important;
    position: absolute !important;
    background-color: #fbd586 !important;
    top: 3.4em !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    .button{
        max-height: 4em;
    }
    input{
        max-width: 8em;
    max-height: 1em !important;
    }
}