.tweet{
    display: flex;
    flex-direction: row;
    min-height: 13em;
    .tweet-header-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tweet-header{
        display: flex;
        flex-direction: row;
        .tiny{
            margin-left: 0.5em;
        }
        
        .ui.tiny.header{
            margin-top: 0;
        }
    }
    .tweet-content{
        display: flex;
        margin-left: 1em ;
    flex-direction: column;
    width:100%;
    }
    .tweet-functionality{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 2em;
    }
    .icon:hover{
        cursor: pointer;
    }
    .share-socials{
        flex-direction: column;
    display: flex;
    align-items: end;
    }
    .socials{
        position: absolute !important;
        margin-top: 2em !important;
    }
}
.hide{
    display: none !important;
}
.tweet:hover{
    background-color: #f7f7f7;
}
.return-button{
    padding-bottom: 2em;
}
